body{
    overflow: hidden;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0px;
    padding: 0px;
}

#editor {
    position: absolute;
    width: 50%;
    height: 100%;
    font-size: 16px;
    line-height: 27px;
    font-family: Menlo, 'Ubuntu Mono', Consolas,
    'Courier New', 'Microsoft Yahei', 'Hiragino Sans GB',
    'WenQuanYi Micro Hei', sans-serif;

}

#preview{
    position: absolute;
    left: 50%;
    min-width: 50%;
    height: 100%;
    background: transparent url('../images/bg.png');
}

#editor ::-webkit-scrollbar,
#preview ::-webkit-scrollbar {
    width: 9px;
}

#editor ::-webkit-scrollbar-track,
#preview ::-webkit-scrollbar-track {
    background: rgba(102,128,153,.1)
}

#editor ::-webkit-scrollbar-thumb:hover,
#preview ::-webkit-scrollbar-thumb:hover {
    background: rgba(102,128,153,.5)
}

#editor ::-webkit-scrollbar-thumb,
#preview ::-webkit-scrollbar-thumb {
    background: rgba(102,128,153,.2)
}

#editor ::-webkit-scrollbar-corner,
#editor ::-webkit-scrollbar-thumb:window-inactive,
#preview ::-webkit-scrollbar-corner,
#preview ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(102,128,153,.1)
}
